.hide {
    display: none;
}

.round-results {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.player-move {
    display: flex;
    justify-content: space-around;
}

.move {
    width: 30vw;
    height: auto;
}

.reset-container {
    display: flex;
    justify-content: center;
}

.reset-btn {
    font-size: 3.5vw;
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
    font-size: 3.5vw;
}

.player-score,
.computer-score {
    text-align: center;
}

html,
body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}